# Database Configuration

# This file contains the database connection settings.
# Update the values as needed for your environment.
# Password is not included -> use .pgpass file for secure password management.

# Create a /db/.env file with the following content (defaults):
DB_HOST=localhost
DB_PORT=5433
DB_NAME=fin_db
MOUNT_PATH=YOUR_MOUNT_PATH

DBUSER_ADMIN=fin_db_admin
DBUSER_APP=fin_db_app
DBUSER_READ=fin_db_read

POSTGRES_PASSWORD=your_postgres_superuser_password
DBUSER_ADMIN_PASSWORD=your_admin_password
DBUSER_APP_PASSWORD=your_app_password
DBUSER_READ_PASSWORD=your_read_password

# Backup Configuration !! Read db/docker/README.md for backup setup instructions !!
PGBACKREST_BACKUP_PATH=YOUR_BACKUP_PATH
PGBACKREST_CONF=PATH_TO_REPO/db/docker/pgbackrest.conf
