# Database Configuration

# This file contains the database connection settings.
# Update the values as needed for your environment.
# Password is not included -> use .pgpass file for secure password management.

# Create a /db/.env.local file with the following content (defaults):
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fin_db

DBUSER_ADMIN=fin_db_admin